---
layout: default
title: Perkles - Blog
---

<div class="article">
    {% for post in paginator.posts %}

        <h4>Nome: {{ post.nome }}</h4>
        <h4>Linguágem de programação favorita: {{post.linguagem_programacao}}</h4>
        <h4>Hobby: {{post.hobby}}</h4>

        <div class="short_description">
            <p>
            <p>{{ post.content }}</p>
            </p>
        </div>

        <hr>
     {% endfor %}

    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | relative_url }}">
                    <i class="fas fa-arrow-circle-left"></i>
                </a>
            {% else %}
            <i class="fas fa-ban"></i>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <span class="paginator-highlight">{{ page }}</span>
                {% elsif page == 1 %}
                    <a href="{{ paginator.previous_page_path | relative_url }}">
                        {{ page }}
                    </a>
                {% else %}
                    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
                        {{ page }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | relative_url }}">
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
                {% else %}
                    <i class="fas fa-ban"></i>
            {% endif %}
        </div>
    {% endif %}

</div>
