<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Participantes</title>
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <article class="feed">
            <h1>Introdução ao Git e GitHub</h1>
            <span id="data">27/04/2019</span>
            <br>
            <hr>
            {{ content }}
        </article>

    </body>
</html>
